<div class="header">Welcome to Ariel's Portfolio</div>

<div class = "center">
	<img src = "../images/ariel.jpg" height= "130px" width = "120px">
</div>	


<div class = "left">
	
		<h1>Sites</h1>
		<ul>
		<li><a href = " http://chuchill-quote-generator.herokuapp.com/home">Churchill quote generator</a></li>
		<li><a href = "http://isitajewishholidaytoday.herokuapp.com/"><p>Is today a Jewish holiday?</p></a></li>
		<li><a href= "http://ajosepha.tumblr.com/"><p>Blog</p></a></li>
		<li><a href = "https://github.com/ajosepha"><p>Github</p></a></li>
		<li><a href = "https://twitter.com/arielisaacs"><p>Twitter</p></a></li>
		<li><a href = "http://www.linkedin.com/in/ajosepha"><p>Linkedin</p></a></li>
	</ul>
</div>


