<div class="container">
  <div class="left-header"> 
    <h1>ARIEL ISAACS</h1>
    <div><i class="fa fa-envelope"></i><i class="fa fa-linkedin"></i><i class="fa fa-github"></i><i class="fa fa-tumblr-square"></i><i class="fa fa-twitter"></i></div>
  </div>
  <div class="right-content">
    New York and San Francisco based web developer. Brown and Columbia University graduate.
  </div>
</div>


<div class="card-container">
  <div class="card">
    <div class="side1">Map Game</div>
    <div class="side2 hidden">About Map game</div>
  </div>

  <div class="card"> 
    <div class="side1">I will be a screen shot</div>
    <div class="side2 hidden">I will be text</div>   
  </div>

  <div class="card">

    <div class="side1">I will be a screen shot</div>
    <div class="side2 hidden">I will be text</div>   
  </div>

  <div class="card"> 
  <div class="side1">I will be a screen shot</div>
    <div class="side2 hidden">I will be text</div>    
  </div>

  <div class="card">
  <div class="side1">I will be a screen shot</div>
    <div class="side2 hidden">I will be text</div>     
  </div>

   <div class="card">
    <div class="side1">I will be a screen shot</div>
    <div class="side2 hidden">I will be text</div>   
  </div>


</div>


<script>

var $this = $(this);

$(".card").mouseover(function(){
  // console.log("mouse over");
  $( this).find(".side1").addClass("hidden");
  $( this).find(".side2").removeClass("hidden")
})

$(".card").mouseleave(function(){
  $(this).find(".side1").removeClass("hidden");
  $(this).find(".side2").addClass("hidden")
  // console.log("mouse has left")
})
</script>


	






 


