<div class="header">Welcome to Ariel's Portfolio</div>

<div class = "center">
	<img src = "../images/ariel2.jpg" height= "150px" width = "150px">
</div>	


<div class = "left">
		<h1>Sites</h1>
		<ul>
		<li><a href=" http://chuchill-quote-generator.herokuapp.com/home">Churchill quote generator</a></li><br>
		<li><a href = "http://isitajewishholidaytoday.herokuapp.com/">Is today a Jewish holiday?</a></li><br>
		<li><a href="http://cigquiz.herokuapp.com/">A fun quiz</a></li>
		<li><a href= "http://ajosepha.tumblr.com/"><p>Blog</p></a></li>
		<li><a href = "https://github.com/ajosepha"><p>Github</p></a></li>
		<li><a href = "https://twitter.com/arielisaacs"><p>Twitter</p></a></li>
		<li><a href = "http://www.linkedin.com/in/ajosepha"><p>Linkedin</p></a></li>
	</ul>
</div>

<div class= "right">
	<h1>About me</h1>

	<p>I’m a student at the Flatiron School, learning to become<br/> 
	a full-stack developer.  Before moving to New York last year,</br>
 	I spent two years living in Paris where I got a Master’s in </br>
 	French Cultural Studies in a Global Context from Columbia <br/> 
 	University and worked as a consultant at Image 7, <br/>
 	a financial PR firm. I’m fascinated by the intersection of <br/>
 	technology and humanities. I graduated from Brown with a degree</br>
  	in Classics.<br/></p>

</div>
 


