<div class="header">Welcome to Ariel's Portfolio</div>
<div class = "center">
	<img src = "../images/ariel.jpg" height= "80px" width = "85px">
<div class = "left">
	<h1>Sites</h1>
	<a href = " http://chuchill-quote-generator.herokuapp.com/home"<p>Churchill quote generator<p></a>
	<a href = "http://isitajewishholidaytoday.herokuapp.com/"><p>Is today a Jewish holiday?</p></a>
	<a href= "http://ajosepha.tumblr.com/"><p>Blog</p></a>
	<a href = "https://github.com/ajosepha"><p>Github</p></a>
	<a href = "https://twitter.com/arielisaacs"><p>Twitter</p></a>
	<a href = "http://www.linkedin.com/in/ajosepha"><p>Linkedin</p></a>
</div>


