
	<div class="jumbotron">
		<div class="welcome">
			<h1>Welcome to Ariel's Portfolio</h1>
		</div>

				<div class = "center"> 
					<img src = "../images/ariel2.jpg" height= "150px" width = "150px">
				</div>



			<p>I recently graduated from the Flatiron School's first NYC Web Development Fellowship in Brooklyn, NY.  Before moving to New York last year,
		 	I spent two years living in Paris where I got a Master’s in 
		 	French Cultural Studies in a Global Context from Columbia 
		 	University and worked as a consultant at Image 7,
		 	a financial PR firm. I’m fascinated by the intersection of 
		 	technology and humanities. I graduated from Brown with a degree
		  	in Classics.</p> 	

	</div>
	

	<div class="row">
    <div class="col-md-12">
      <div class = "try">
       <a href ='projects'>Projects </a>
      </div>
    </div>
  </div>
	






 


