<div class="container">
  <div class="left-header"> 
    <h1>ARIEL ISAACS</h1>
    <div class="links">
     <a href="mailto:ariel.isaacs@gmail.com" target="_top">
        <i class="fa fa-envelope">
        </i>
      </a>
      <a href="https://github.com/ajosepha" target="blank">
        <i class="fa fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/ajosepha" target="blank">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="http://ajosepha.tumblr.com/" target="blank">
        <i class="fa fa-tumblr-square"></i>
      </a>
      <a href="https://twitter.com/arielisaacs" target="blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
  <div class="right-content">
    San Francisco based software engineer, specializing in Ruby on Rails and JavaScript. Brown BA and Columbia University MA. Je parle français couramment.
  </div>
</div>

<div class="container">
<div class="card-container">
  <h2>Works</h2>

<div class="row">
  <div class="col-md-3 col-centered card bcp1">
    <a href="http://bcp.herokuapp.com">
      <div class="side1"></div>
      <div class="side2 hidden">
        <div class="side2-content">
          <div class="side2-headline">
            Birth Control App
          </div>
          Ruby-on-Rails app to let users rate their hormonal birth control method.  Uses Foundation for the front-end and Devise for user sign-in.
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-3 col-centered card plum">
    <a href="http://www.self.com/flash/news/2014/08/self-magazine-clinton-foundation-jawbone-ace-hotel-codeathon-womens-nutrition/" target="blank">
    <div class="side1"></div>
      <div class="side2 hidden">
        <div class = "side2-content">
          <div class="side2-headline">
            Plum
          </div>
            Runner up at the Clinton Foundation's Code for Health Hackathon for a Ruby on Rails app that texts users if a product is WIC eligible. Project will be in the November 2104 issue of SELF magazine.
        </div>
      </div>
    </a>
  </div>

    <div class="col-md-3 col-centered card homepolish">
      <a href="https://github.com/ArmandoAmador/Homepolish" target="blank">
    <div class="side1"></div>
    <div class="side2 hidden">
      <div class="side2-content">
        <div class="side2-headline">
          Homepolish
        </div>
        Externship to create an internally-facing Ruby on Rails social media analysis application that aggregates Twitter and Instagram follower information. Uses Omniauth gem for Instagram and Twitter to authenticate users’ accounts.
      </div> 
    </div> 
    </a> 
  </div>

  <div class="col-md-3 card zip"> 
    <a href="http://zipgame.herokuapp.com/" target="blank">
    <div class="side1"></div>
      <div class="side2 hidden">
        <div class="side2-content">
          <div class="side2-headline">
            Zip Code Game
          </div>
          Wrote a Ruby on Rails game that parses and persists NYC open data. Used jQuery to improve UX and create game play. 
        </div> 
      </div>
    </a>  
  </div>

</div>

<div class="row">

  <div class="col-md-3 card bcp">
    <a href="http://bcpills.herokuapp.com/#/pills" target="blank">
    <div class="side1"></div>
    <div class="side2 hidden">
      <div class = "side2-content">
        <div class="side2-headline">
          What's in your birth control?
        </div>
          Built an AngularJs and Sinatra app that uses Nokogiri to parse and persist data from the National Library of Health.
        </div>
      </div>
    </a>
  </div>

    <div class="col-md-3 card bcourt"> 
    <a href="http://behrendscourt.com/" target="blank">
    <div class="side1"></div>
    <div class="side2 hidden">
      <div class = "side2-content">
        <div class="side2-headline">
          Behrends Court
        </div>
        Redesigned a corporate WordPress site to have a responsive design and improved features.
      </div>
    </div>
  </a>
  </div>

  <div class="col-md-3 card match">
    <a href="http://quotes-memory-game.herokuapp.com/" target="blank">
    <div class="side1"></div>
      <div class="side2 hidden">
        <div class = "side2-content">
          <div class="side2-headline">
            Card Game
          </div>
            Created a Sinatra app that uses jQuery to implement an author and quote matching game.
        </div>
      </div>
    </a>
  </div>

    <div class="col-md-3 card smoker"> 
    <a href="http://cigquiz.herokuapp.com/" target="blank">
    <div class="side1"></div>
    <div class="side2 hidden">
      <div class = "side2-content">
        <div class="side2-headline">
          Quiz
        </div>
        Developed a Sinatra app that uses html forms to answer a quiz.
      </div>
    </div>
  </a>
  </div>

</div>

<div class="row">
  




  <div class="col-md-3 card holiday"> 
    <a href="http://isitajewishholidaytoday.herokuapp.com/" target="blank">
    <div class="side1"></div>
    <div class="side2 hidden">
      <div class = "side2-content">
        <div class="side2-headline">
          Is today a Jewish holiday?
        </div>
        Built a Sinatra app that uses the Ruby DateTime class to show if today is a Jewish holiday.
      </div>
    </div>
  </a>
  </div>
</div>



</div>
</div>


<script>

var $this = $(this);

$(".card").mouseover(function(){
  $( this).find(".side1").addClass("hidden");
  $( this).find(".side2").removeClass("hidden")
})

$(".card").mouseleave(function(){
  $(this).find(".side1").removeClass("hidden");
  $(this).find(".side2").addClass("hidden")
})
</script>


	






 


