  <div class="headline">
    <div class="container">
      <h1>Projects</h1>
      <p>Here are some of the projects I've been working on over the past months.  Check them out on Github too!</p> 
       <div class = "try">
         <a href ='/'>Back </a>
      </div>
    </div>

  </div>


      <div class="row">
        <div class="col-md-4">
          <a href= '#'><a href="http://bcpills.herokuapp.com/">Info about birth control</a></a>
          <ul>
            <li>Utilized Nokogiri to collect, sanitize and persist data from the National Library of Medicine.</li>
            <li> Leveraged AngularJS’ data binding to create a searchable single page UI.</li>
          </ul>
        </div>

        <div class="col-md-4">
          <a href="http://zipgame.herokuapp.com/"> Zip Code Game</a>
          <ul>
            <li>Rails app that conceptualizes NYC OpenData as a game</li>
          </ul>
        </div>

        <div class="col-md-4">
          <a href="https://github.com/ArmandoAmador/Homepolish">Homepolish App</a>
          <ul>
            <li> Rails social media data analysis application that aggregates Twitter and Instagram follower information</li>
            <li>Used Omniauth gem for Instagram and Twitter to authenticate users’ accounts using the Oauth protocol</li>
            <li> Extracted information about top followers from Twitter and Instagram APIs and stored it in a database</li> 
          </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <a href=" http://chuchill-quote-generator.herokuapp.com/">Churchill quote generator</a><br/>
        <ul>
          <li>A Sinatra app that randomly sorts Winston Churchill quotes.</li>
        </ul>
      </div>

      <div class="col-md-3">
        <a href = "http://isitajewishholidaytoday.herokuapp.com/">Is today a Jewish holiday?</a>
        <ul>
          <li>A Sinatra app to tell you if today is a Jewish holiday using the Ruby DateTime class</li>
        </ul>
      </div>

      <div class="col-md-3">
        <a href="http://cigquiz.herokuapp.com/">A fun quiz</a><br/>
        <ul>
          <li>A quiz styled after a Marlboro package.</li>
        </ul>
      </div>

        <div class="col-md-3">
          <a href="http://quotes-memory-game.herokuapp.com/">Card Game</a>
          <ul>
            <li>Use JQuery to have a card-matching game</li>
          </ul>
        </div>
      </div>

 

