body {	
	color: white;
	background-color: #000033
	padding-top: 70px;
}

h1 {
	font-family: 'Changa One', bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 60px;
	color: #EFECE5;
}

a:link {
	font-family: 'Alegreya Sans', sans-serif;	
	font-size: 18px;
	text-decoration:none;
}
a:visited {
	color: white;
	text-decoration:none;
}
a:hover {
	color: #CC9933;
	text-decoration:underline;}
a:active {
	text-decoration:underline;
}

.header {
	font-family: 'Changa One';
	text-shadow: 2px 2px 1px black;
	font-size: 90px;
	background-color: #120A2A;
	background-image: url(../images/rug1.jpg);
	background-size: 100%;
	color: #EFECE5;
	height: 250px;
	text-align: center;
	line-height: 220px;
	margin-top: -40px;
}

.center {	
	margin-left: 40%;
	border-style: ridge;
	border-width: 4px;
	border-color: #483D8B;
	border-radius: 6px;
	width: 150px;
	height: 150px;
	margin-top: -30px;
	color: white;
}

li {
	list-style-type: none;
}

.left {
	width: 45%;
	margin: 10px;
	margin-top: -90px;
	float: left;
}

.right {
	float: right;
	margin-top: -90px;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 18px;
	color: white;
	line-height: 200%;
	padding-right: 20px;
	padding-left: 20px;
}








