body {	
	background-image:url(images/orsay.jpg);
	background-size: cover;
	margin-left: 20px;
	
}


a:link {
	font-size: 30px;
	text-decoration:none;
	color:  #D6665A;
}
a:visited {
	color:  #DC9B74; 
	text-decoration:none;
}
a:hover {
	color: #CC9933;
	text-decoration:underline;}
a:active {
	text-decoration:underline;
	color: #e79b8d;
}

.col-md-4 {
	font-weight: bold;
	background-color: #42282E;

}

.col-md-12 {
	position: absolute; bottom: 2em;
	text-align: center;
	color: #D6665A;
/*	background-color: red;
	display: inline-block;*/
}
.col-md-12 .try {
	color: black;
	display: inline-block;
	background-color: #CDCDCD;
	padding: 0 10px 0 10px;
	border-radius: 9px;
}

.center {	
	border-style: ridge;
	border-width: 4px;
	border-color: #483D8B;
	border-radius: 6px;
	width: 156px;
	float: left;
	margin-right: 1em;
/*	height: 156px;*/



#try{
	  color: black;

}

.projects {
	display:inline-block;
	background-color: red;
}





