body {	
	background-image:url(images/nuit_blanche.jpg);
	background-size: cover;
	/*margin-left: 20px;
	margin-right: 20px;*/
	padding: 50px;
	background-color: #2F4F4F;
	
}

.jumbotron {
	background: rgb(255, 255, 255) transparent;
	background: rgba(255, 255, 255, 0.5);
	color: black;

}

.headline{
	/* default fallback */
background: rgb(255, 255, 255) transparent;
/* nice browsers */
background: rgba(255, 255, 255, 0.5);
color: black;
}

.header-text{
	text-align: center;
	padding: .5em;
}

li {
	color: black;
}

.page-header {
	background-color: white;
}

a:link {
	font-size: 30px;
	text-decoration:none;
	color: #912e07;
}
a:visited {
/*	color: #912e07;*/
	color:  #054553; 
	text-decoration:none;
}
a:hover {
	color: #0e869e;
	text-decoration:underline;}
a:active {
	text-decoration:underline;
	color:#912e07;
}


/*.try a {
	color: blue;
}*/

.try {
	text-align: center;
	margin-bottom: 1em;
	/*border: 2px solid black;
	display: inline-block;*/
}


.col-md-12 {
	position: absolute; bottom: 2em;
	text-align: center;
	color: #D6665A;
	display: inline-block;
}

.col-md-12 .try {
	color: black;
	display: inline-block;
	background-color: #CDCDCD;
	padding: 0 10px 0 10px;
	border-radius: 9px;
}

.center {	
	border-style: ridge;
	border-width: 4px;
	border-color: #483D8B;
	border-radius: 6px;
	width: 156px;
	float: left;
	margin-right: 1em;
/*	height: 156px;*/

.back {
	text-align: center;
}







