h1{
	font-family:  'Open Sans Condensed', sans-serif;
	font-weight: bold;
}

body {	
	background-color: white;
}

.right-content{
	font-family:  'Open Sans Condensed', sans-serif;
	float:right; 
	display: inline-block; 
	width: 260px;
	margin-right: 20px;
	margin-top: 20px;

}
.jumbotron {
	background: rgb(255, 255, 255) transparent;
	background: rgba(255, 255, 255, 0.5);
	color: black;

}

.welcome{
	text-align: center;
	padding-bottom: 10px;
}

.jumbotron{
	background-color: white;
}
.headline{
background: rgb(255, 255, 255) transparent;
background: rgba(255, 255, 255, 0.5);
color: black;
}

.header-text{
	text-align: center;
	padding: .5em;
}

li {
	color: black;
}


.page-header {
	background-color: white;
}



a{
	color: black;
}

a:hover{
	color: #4d4d4d;
}

i{ 
	margin-top: 3px;
	margin-right: 7px;
	margin-bottom: 7px;
	margin-left: 7px;
}

.left-header{
	float:left; display: inline-block
}

.links{
	font-size: 12px;
}

.left-header > h1{
	margin-left: 7px;
}


a:hover{
	text-decoration: none;
}


.col-md-12 {
	position: absolute; bottom: 2em;
	text-align: center;
	color: #D6665A;
	display: inline-block;
}


.center {	
	border-style: ridge;
	border-width: 4px;
	border-color: #483D8B;
	border-radius: 6px;
	width: 156px;
	float: left;
	margin-right: 20px;
}
.back {
	text-align: center;
}

 a.myHead{
	color: white !important;
}

.container-tile{
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.right-header{
	float:right; 
	display: inline-block;
	width: 200px
}

.container{
	padding-right: 0px;
}

.card{
	display: inline-block;
	width: 23%;
	height: 200px;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	margin-right: 20px;
	margin-bottom: 40px;
	vertical-align: top;
}



.bcp{
	background-image: url('images/bcp2.png');
	background-color: white;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.homepolish{
	background-image: url('images/homepolish.png');
	background-color: white;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.card-container h2{
	font-family: 'Open Sans Condensed';
	font-style: italic;
	
}

.zip{
	background-image: url('images/zip2.png');
	background-color: white;
	background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;

}

.holiday{
	background-image: url('images/holiday.png');
	background-color: white;
  background-position: center;
  background-size: 100% 100%;
}

.plum{
	background-image: url('images/plum.png');
	background-color: white;
  background-position: center;
  background-size: 100% 100%;
}

.match{
		background-image: url('images/match.png');
	background-color: white;
  background-position: center;
  background-size: 100% 100%;
}

.smoker{
	background-image: url('images/cigquiz.png');
	background-color: white;
  background-position: center;
  background-size: 100% 100%;
}

.bcourt{
	background-image: url('images/bcourt.png');
	background-color: white;
  background-position: center;
  background-size: 100% 100%;
}

.card-container{
	margin-top: 40px;
}

.hidden{
	display: none;
}

.side2{
	height: 100%;
	background: rgba(0,0,0, 0.8);
	color: white;
	overflow-y: auto;
}



.side2 .side2-content{
	font-size: 12px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
}

.side2-headline{
	color: #dcb74f;
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: bold;
	padding-bottom: 20px;
	font-size: 18px;
	padding-top: 10px;
}







