h1{
	font-family:  'Open Sans Condensed', sans-serif;
	font-weight: bold;
}

body {	
	background-color: white;
}

.right-content{
	font-family:  'Open Sans Condensed', sans-serif;
	float:right; 
	display: inline-block; 
	width: 260px;
	margin-right: 20px;
	margin-top: 20px;

}
.jumbotron {
	background: rgb(255, 255, 255) transparent;
	background: rgba(255, 255, 255, 0.5);
	color: black;

}

.welcome{
	text-align: center;
	padding-bottom: 10px;
}

.jumbotron{
	background-color: white;
}
.headline{
background: rgb(255, 255, 255) transparent;
background: rgba(255, 255, 255, 0.5);
color: black;
}

.header-text{
	text-align: center;
	padding: .5em;
}

li {
	color: black;
}


.page-header {
	background-color: white;
}



a{
	color: black;
}

a:hover{
	color: #4d4d4d;
}

i{ 
	margin-top: 3px;
	margin-right: 7px;
	margin-bottom: 7px;
	margin-left: 7px;
}

.left-header{
	float:left; display: inline-block
}

.links{
	font-size: 12px;
}

.left-header > h1{
	margin-left: 7px;
}


a:hover{
	text-decoration: none;
}


.center {	
	border-style: ridge;
	border-width: 4px;
	border-color: #483D8B;
	border-radius: 6px;
	width: 156px;
	float: left;
	margin-right: 20px;
}
.back {
	text-align: center;
}

 a.myHead{
	color: white !important;
}

.container-tile{
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.right-header{
	float:right; 
	display: inline-block;
	width: 200px
}

.col-md-3{
  padding-left: 20px;
}


.card{
	min-height: 200px;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
}

.card-container h2{
	font-family: 'Open Sans Condensed';
	font-style: italic;
}

.bcp1{
	background-image: url('images/bcp1.png');
	background-color: white;
  background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.bcp{
	background-image: url('images/bcp2.png');
	background-color: white;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homepolish{
	background-image: url('images/homepolish.png');
	background-color: white;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.zip{
	background-image: url('images/zip2.png');
	background-color: white;
	background-position: center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.holiday{
	background-image: url('images/holiday.png');
	background-color: white;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.plum{
	background-image: url('images/plum.png');
	background-color: white;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.match{
		background-image: url('images/match.png');
	background-color: white;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.smoker{
	background-image: url('images/cigquiz.png');
	background-color: white;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bcourt{
	background-image: url('images/bcourt.png');
	background-color: white;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-container{
	margin-right: 40px;
}

.hidden{
	display: none;
}

.side2{
	min-height: calc(200px - 5px);
  padding-left: 5px;
	background: rgba(0,0,0, 0.8);
	color: white;
}



.side2 .side2-content{
	font-size: 12px;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
}

.side2-headline{
	color: #dcb74f;
	font-family:'Open Sans Condensed', sans-serif;
	font-weight: bold;
	padding-bottom: 20px;
	font-size: 18px;
}

.spacer{
  height: 20px;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

.container.body{
  padding-bottom: 40px;
}




