body {	
	color: #42526C;
}

h1 {
	font-family: 'Changa One', bold;
	font-size: 60px;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

.header {
	font-family: 'Changa One', bold;
	font-size: 90px;
	background-color: #120A2A;
	background-image: url(../images/tangier.jpg);
	background-size: 100%;
	color: #EFECE5;
	height: 250px;
	text-align: center;
	line-height: 220px;
}

.center {
	
	margin-left: 50%;
	border-style: ridge;
	border-width: 2px;
	border-color: #52267F;
	width: 100px;
	height: 90px;
	margin-top: -10px;
}

li {
	list-style-type: none;
}

.left {
	width: 45%;
	margin: 10px;
	margin-top: -50px;
}






