body {
	
	color: #42526C;
}

.header {
	font-family: 'Changa One', bold;
	font-size: 90px;
	background-color: #120A2A;
	background-image: url(../images/eye-dazzler-childs-navajo-blanket-148-001.jpg);
	color: white;
	height: 220px;
	text-align: center;
	line-height: 220px;
}

.center {
	margin: auto;
}





