body {	
	color: #4E2F2F;
	background-image: url(../images/brick.jpg);
}

h1 {
	font-family: 'Changa One', bold;
	font-size: 60px;
}


a:link {
	font-family: 'Changa One';
	
	font-size: 18px;
	text-decoration:none;
}
a:visited {color: black;
	text-decoration:none;}
a:hover {color: #590000;
	text-decoration:underline;}
a:active {text-decoration:underline;}

.header {
	font-family: 'Changa One', bold;
	font-size: 90px;
	background-color: #120A2A;
	background-image: url(../images/rug1.jpg);
	background-size: 100%;
	color: #EFECE5;
	height: 250px;
	text-align: center;
	line-height: 220px;
}

.center {
	
	margin-left: 50%;
	border-style: ridge;
	border-width: 4px;
	border-color: #483D8B;
	border-radius: 6px;
	width: 120px;
	height: 130px;
	margin-top: -10px;
	color: white;
}

li {
	list-style-type: none;
}

.left {
	width: 45%;
	margin: 10px;
	margin-top: -50px;
}






